/* show skip links if selected */
.wp-block-blockstrap-blockstrap-widget-skip-links.bs-skip-links.is-selected {
	transform: translate(-50%, 0%);
}

.modal {
	@at-root .modal:has(.wp-block-blockstrap-blockstrap-widget-modal.is-selected),
	.modal:has(.wp-block-blockstrap-blockstrap-widget-modal.has-child-selected) {
		display: block;
		position: relative;
		opacity: 1 !important;
	}
}


/* show responsive menu if selected */
@media ( max-width: 840px ) {
	.wp-block-blockstrap-blockstrap-widget-navbar {
		&.is-selected, &.has-child-selected {
			.wp-block-blockstrap-blockstrap-widget-nav {
				display: block !important;
			}
		}
	}

	// fix for fully transparent nav menu open on mobile
	.navbar.bg-transparent.navbar-dark{
		background: #343a40 !important;
	}
	.navbar.bg-transparent.navbar-light{
		background: #f8f9fa !important;
	}
}
